# App
VITE_APP_NAME=VJ ERP
VITE_APP_ENV=development
VITE_ENABLE_APP_LOGS=true
VITE_API_TIMEOUT_MS=20000
VITE_AUTH_DEVICE_ID=vjsoft-erp-ui

# Microservices
VITE_SERVICE_AUTH_URL=http://localhost:52773
VITE_SERVICE_PLATFORM_URL=http://localhost:5096
VITE_SERVICE_CATALOG_URL=http://localhost:5096
VITE_SERVICE_INVENTORY_URL=http://localhost:5298
VITE_SERVICE_SALES_URL=http://localhost:5083
VITE_SERVICE_BILLING_URL=http://localhost:5002
VITE_SERVICE_PAYMENTS_URL=http://localhost:5127
VITE_SERVICE_INVOICES_URL=http://localhost:5053
