# App
VITE_APP_NAME=Edgeonix
VITE_APP_ENV=development
VITE_ENABLE_APP_LOGS=true
VITE_API_TIMEOUT_MS=20000
VITE_AUTH_DEVICE_ID=edgeonix-erp-ui

# Microservices
VITE_SERVICE_AUTH_URL=http://localhost:8080
VITE_SERVICE_PLATFORM_URL=http://localhost:8081
VITE_SERVICE_CATALOG_URL=http://localhost:8081
VITE_SERVICE_INVENTORY_URL=http://localhost:8082
VITE_SERVICE_SALES_URL=http://localhost:8083
VITE_SERVICE_BILLING_URL=http://localhost:8084
VITE_SERVICE_PAYMENTS_URL=http://localhost:8085
VITE_SERVICE_INVOICES_URL=http://localhost:8086
